.dark .td-components-docs-table { background-color: #242424;  }
.dark .thead-components-docs-table { color: #d5d5d5; background-color: #242424;  }
.dark .table-components-docs-table { color: #d5d5d5;  }