.children-components-docs-section { margin: 12px 0;  }
.title-components-docs-section { font-size: 21px;  }
.container-components-docs-section { padding-bottom: 48px;  }
@media (max-width: 800px) { .title-components-docs-section { font-size: 18px;  } } 