.button-components-global-modebutton:hover { background-color: #d5d5d5; } 
.button-components-global-modebutton { padding: 4px; margin: 3px; border-radius: 15px; border: none; cursor: pointer; transition: all 0.3s ease; display: flex; align-items: center; justify-content: center;  }
.buttonContainer-components-global-modebutton { display: flex; margin: 0 10px;  }
.container-components-global-modebutton { display: flex; align-items: center;  }