.content-components-docs-article { margin-top: 24px; line-height: 1.5em;  }
.title-components-docs-article { font-size: 36px; margin-top: 9px;  }
.container-components-docs-article {  }
@media (max-width: 800px) { .title-components-docs-article { font-size: 24px;  } .content-components-docs-article { font-size: 14px;  } } 